$themeColor: #fec96b;
$newThemeColor: #A7BED3;
$textColor: #262e44;
$countsColor: #ffffff;
$paragraphColor: #5c6668;
$dataColor: #ed6967;
$iconColor1: #408292;
$supportColor: #f9f9f9;
$linkColor: #e5e5e5;